
li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
  }


  
.App {
  background-color: aqua;
  text-align: center;
}


.Navbar {
  background-color: black;
  border-bottom: solid 1px white;

}


.search-form {
padding-top: 25px;

}

.PokeCards {
  display: flex;
  justify-content: center;
  align-items: center;
}